:root {
    --main_black: #191919;
    --main_white: #fcfcfc;
    --main_red: #c1292e;
}

/*상단 바*/
header {
    display: flex; /* flexbox 적용 */
    justify-content: space-between; /* 수평 가운데 정렬 */
    align-items: center; 
    height: 90px;
    text-align: center; /* 로고 가운데 정렬 */ 
    background-color: var(--main_white); 
    position: relative; 
    background-color: var(--main_white);
}

/* 헤더 밑 디바이더 였던 것 */
/* .divider {
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 1.5px; 
    background-color: #E6E8EC; 
} */

img {
    max-width: 200px;/* 로고 이미지 최대 너비 */
    position: absolute; /* 로고 이미지에 position: absolute 추가 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mypage-button {
    padding: 8px 15px;
    font-size: 15px;
    background-color:var(--main_white);
    color:var(--main_black);
    border: none;
    position: absolute; /* 마이페이지 버튼에 position: absolute 추가 */
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    cursor: pointer; /* 버튼 커서 */
    text-decoration: underline; /* 밑줄 추가 */
    text-underline-offset: 5px;
    text-decoration-color: var(--main_red);
}
/*마이페이지 버튼 클릭시 팝업*/

.dropdown {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 100px; 
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: var(--main_white);
    min-width: 120px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-family: 'NanumSquare', sans-serif;
    color: #797979;
    font-size: 15px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.container{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    flex-grow: 1;
}

/*기사 본문*/
.news-area {
    background-color: var(--main_white);
    width: 85%;
    max-width: 800px;
}

body {
    font-family: 'NanumSquare', sans-serif;
    background-color: var(--main_white); /* 원하는 배경색으로 변경 */
}

h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.stock-news {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.article-link{
    text-decoration: none;
    background-color: var(--main_white);
    color: var(--main_black);
    font-weight: bold;
    border-bottom: 2px solid var(--main_red);
    cursor: pointer;
}

.stock-item {
    display: flex;
    justify-content: left;
    gap: 5px;
    align-items: center;
    padding: 10px 0;
}

.stock-name{
    display: inline-block;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
}

.stock-price-info{
    display: inline-block;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
}

.stock-change.positive {
    color: var(--main_red);
}

.stock-change.negative {
    color: #3943B7 ;
}

.news-summary h2{
    margin-bottom: 0px;
    margin-top: 10px;
}

.news-summary p{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.news-summary-item{
    margin-top: 20px;
}

.news-summary-item p {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 10px 0;
}

.news-summary-item p::before {
    content: '•'; /* 닷(.) 표시 */
    position: relative;
    left: 0;
    color: var(--main_black); /* 닷(.) 색상 */
    font-size: 18px; /* 닷(.) 크기 */
    line-height: 1; /* 닷(.)의 수직 정렬 */
    margin-right: 10px;
}

.news-sources {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-top: 10px;
}

.news-source-btn {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: var(--main_black);
    border-radius: 10px;
    transition: background-color 0.3s, box-shadow 0.3s; 
}

.news-source-btn:hover {
    background-color: #e0e0e0; /* 호버 시 배경색 변경 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 호버 시 그림자 효과 추가 */
}

.news-source-btn.naver{
    background-color: #efffeee5;
    /* border: 1px solid #fd9e32e5; */
}

.news-source-btn.reuters{
    background-color: #f7f2ece5;
    /* border: 1px solid #fd9e32e5; */
}

.news-source-btn.cnbc{
    background-color: #f1f2fde5;
    /* border: 1px solid #2338f3e5; */
}

.news-source-btn.yahoo{
    background-color: #f9f3ffea;
    /* border: 1px solid #9543ffe5; */
}

/* 사이드바 스타일 */
.sidebar {
    margin-left: 20px;
    position: sticky;
    top: 20px;
    height: 100%;
    overflow-y: auto;
    width: 15%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 뉴스 영역과 동일한 그림자 효과 추가 */
    transition: box-shadow 0.3s ease-in-out; /* 그림자 효과를 위한 트랜지션 추가 */
}

.sidebar:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* 호버 시 그림자 효과 강화 */
}

.sidebar h2 {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 15px;
}

#keyword-list {
    list-style-type: none;
    padding: 0;
}

.keyword-item {
    padding: 7.5px 0 7.5px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* 호버 효과를 위한 트랜지션 추가 */
}

.keyword-item:hover {
    background-color: #e0e0e0; /* 키워드 항목 호버 시 배경색 변경 */
}

.keyword-item.active {
    border-left: 2px solid var(--main_red);
    background-color: #f5f5f5;
}

.sidebar a{
    text-decoration: none;
    color: var(--main_black);
}

.contact-info{
    font-size: 14px;
    padding: 10px 0 0 15px;
    font-weight: bold;
}

.investor-info{
    font-size: 12px;
    padding: 10px 0 0 15px;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
        font-size: 14px;
    }

    img[src*="logo(black).png"] {
        max-width: 150px;
    }

    .container {
        display: flex;
        width: 100%;
        padding: 0;
    }

    .dropdown {
        position: absolute;
        right: 0;
    }

    h1 {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .news-article {
        margin-bottom: 20px;
        padding-bottom: 15px;
    }

    .news-article h2 {
        font-size: 1.2em;
    }

    .keyword {
        font-size: 0.8em;
        padding: 3px 8px;
    }

    .article-link {
        font-size: 0.9em;
    }

    .sidebar h2 {
        display: none; /* '키워드' 제목 숨김 */
    }

    #keyword-list{
        font-size: 10px;
    }

    .contact-info{
        display: none;
        height: 0;
    }
    .sidebar.investor-info{
        display: none;
    }
}