<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keyword" content="맞춤 뉴스, 개인화 뉴스, 뉴스 추천, 뉴스 큐레이션, 주식 뉴스, 경제 뉴스, 테크 뉴스">
    <meta name="description" content="내 보유 주식 뉴스만 모아보고 싶다면? 관심 있는 키워드만 선택하면 관련 뉴스만 쏙쏙! 시간 낭비 없는 개인화 맞춤 뉴스 서비스, 리드라이너에서 시작하세요.">
    <title>리드라이너 - 나만을 위한 뉴스</title>
    <link rel="stylesheet" href="../static/css/home_style.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
    <header>
        <img src="../static/assets/logo(black).png" alt="Leadliner 로고">
        <div class="divider"></div>
        <div class="dropdown">
            <button class="mypage-button" onclick="toggleDropdown()">mypage</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="{{url_for('mypage.my_account')}}" class="secure-link">계정</a>
                <a href="{{url_for('mypage.my_keyword')}}" class="secure-link">키워드 편집</a>
                <a href="{{url_for('main.logout')}}">로그아웃</a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="news-area">
            <h1>{{nickname}}님의 뉴스 페이지</h1>

            {% for news in news_data %}
            <div class="stock-news">
                <section class="stock-info">
                    <div class="stock-item">
                        <span class="stock-name">{{news['name']}}</span>
                        <span class="stock-price-info">
                            <span class="stock-price">{{news['price']}}</span>
                            {% if news['rate'][0]=='-' %}
                            <span class="stock-change negative">{{news['rate']}}%</span>
                            {% else %}
                            <span class="stock-change positive">+{{news['rate']}}%</span>
                            {% endif %}
                        </span>
                    </div>
                </section>

                {% if news['naver_news_link'] %}
                <section class="korea-news">
                    <h2>국내 뉴스</h2>

                    {% for article in news['naver_news'] %}
                    <article class="news-article">
                        <h3>{{article.제목}}</h3>
                        <p>{{article.본문}}</p>
                        <a class="article-link" href="{{article.링크}}">(기사 원문 보기)</a>
                    </article>
                    {% endfor %}

                    <div class="more-news">
                        <a href="{{news['naver_news_link']}}">뉴스 더보기 ></a>
                    </div>
                </section>
                {% endif %}

                {% if news['reuters_news_link'] %}
                <section class="usa-news">
                    <h2>외신 뉴스</h2>
                    <div class="news-sources">
                        <a href="{{news['reuters_news_link']}}" class="news-source-btn reuters">Reuters</a>
                        <a href="{{news['cnbc_news_link']}}" class="news-source-btn cnbc">CNBC</a>
                        <a href="{{news['yahoo_news_link']}}" class="news-source-btn yahoo">Yahoo Finance</a>
                        <!-- 더 많은 외신 소스 추가 -->
                    </div>
                </section>
                {% endif %}

            </div>
            {% endfor %}
        </div>

        <aside class="sidebar">
            <h2>키워드</h2>
            <ul id="keyword-list">
                {% for keyword in keyword_list %}
                    <li class="keyword-item" data-keyword="{{keyword}}">{{keyword}}</li>
                {% endfor %}
            </ul>

            <p class="contact-info">
                <small>
                    문의사항: yclabs131@gmail.com
                </small>
            </p>
            <p class="investor-info">
                <small>
                    화면에 표시된 시세는 실제 시세와 시간 차이가 있을 수 있습니다. 
                </small>
            </p>
        </aside>
    </div>
    <p class="investor-info">
        <small>
            화면에 표시된 시세는 실제 시세와 시간 차이가 있을 수 있습니다. 
            <br>이로 인한 투자 결과의 책임은 투자자 개인에게 있습니다.
            <br>실제 매매시에는 반드시 정확한 정보를 확인하시기 바랍니다.
        </small>
    </p>


    <script>
         function toggleDropdown() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // 드롭다운 메뉴 외부를 클릭하면 메뉴가 닫히도록 설정
        window.onclick = function(event) {
            if (!event.target.matches('.mypage-button')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }   


        //사이드 바
        document.addEventListener('DOMContentLoaded', function() {
            const sidebar = document.querySelector('.sidebar');
    const container = document.querySelector('.container');
    const keywordItems = document.querySelectorAll('.keyword-item');
    const newsArticles = document.querySelectorAll('.stock-news');

    // 스크롤 이벤트 리스너
    window.addEventListener('scroll', function() {
        highlightKeyword();
    });

    // 키워드 클릭 이벤트 리스너
    keywordItems.forEach(item => {
        item.addEventListener('click', function() {
            const keyword = this.textContent.trim();
            const targetArticle = Array.from(newsArticles).find(article => 
                article.querySelector('.stock-name').textContent.trim() === keyword
            );
            if (targetArticle) {
                const offset = targetArticle.offsetTop - 30; // 상단에서 100px 떨어진 위치로 스크롤
                window.scrollTo({
                    top: offset,
                    behavior: 'smooth'
                });
            }
        });
    });

    // 현재 보이는 뉴스에 해당하는 키워드 강조
    function highlightKeyword() {
        let currentArticle = null;
        newsArticles.forEach(article => {
            const rect = article.getBoundingClientRect();
            if (rect.top <= 100 && rect.bottom >= 100) {
                currentArticle = article;
            }
        });

        if (currentArticle) {
            const keyword = currentArticle.querySelector('.stock-name').textContent.trim();
            keywordItems.forEach(item => {
                if (item.textContent.trim() === keyword) {
                    item.classList.add('active');
                } else {
                    item.classList.remove('active');
                }
            });
        }
    }

    // 초기 키워드 강조
    highlightKeyword();
});

// 링크 클릭 로깅
document.addEventListener('DOMContentLoaded', function() {
    console.log('DOMContentLoaded event fired');
    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    
    document.querySelectorAll('a').forEach(link => {
        link.addEventListener('click', function(e) {
            console.log('Link clicked');
            fetch('/log_click', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    clicked: true
                })
            }).then(response => response.json())
              .then(data => console.log('Server response:', data))
              .catch(error => console.error('Error:', error));
        });
    });
});
    </script>
</body>
</html>