<html lang="ko">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5Z4CN57J');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4CJFS0TXDQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4CJFS0TXDQ');
</script>
    <title>   
리드라이너 - 계정정보</title>
    <link rel="stylesheet" href="../static/css/mypage_style.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5Z4CN57J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <a href="{{url_for('main.home')}}"><img src="../static/assets/logo(black).png" alt="Leadliner 로고"></a>
        <div class="divider"></div>
        <a href="{{url_for('main.home')}}" class="home-button">home</a>
    </header>
    <main>
        <nav class="sub-nav">
            <a href="{{url_for('mypage.my_keyword')}}" class="secure-link">키워드 설정</a>
            <a href="{{url_for('mypage.my_account')}}" class="current-page">계정</a>
        </nav>
        
        <section class="account-info">
            <form method="post" id="accountForm">
                {{ form.csrf_token }}
                {% include "form_errors.html" %}
                <div class="input-group">
                    <label for="nickname">닉네임</label>
                    <input type="text" name="username" id="nickname" placeholder="{{nickname}}" required value="{{ form.username.data or '' }}">
                </div>
                <div class="input-group">
                    <label for="email">이메일</label>
                    <input type="email" name="email" id="email" placeholder="{{email}}" required value="{{ form.email.data or '' }}">
                </div>
                <div class="input-group">
                    <label for="agreement-checkbox">메일 수신
                        <button type="button" class="info-button" id="infoButton">?</button>
                    </label>
                    <label class="switch">
                        <input type="checkbox" id="agreement-toggle" name="mailing_list" value="{{form.mailing_list.data}}" {% if mailing_list %} checked {% endif %}>
                        <span class="slider round"></span>
                    </label>
                </div>
                <button type="submit">저장</button>
            </form>
            <div id="infoModal" class="modal">
                <div class="mailing-modal-content">
                    <span class="close">&times;</span>
                    <div class="modal-text">
                        <p>메일 수신에 동의하시면 구독하시는 주제들의 뉴스만을 정리한 맞춤형 뉴스레터를 받아볼 수 있습니다. 메일 수신 동의는 필수 사항이 아닙니다.</p>
                    </div>
                </div>
            </div>
        </section>

        
        <div class="logout-section">
            <a href="{{url_for('mypage.logout')}}" class="logout">로그아웃</a>
        </div>
        
        <div class="withdraw-section">
            <button class="withdraw" id="withdrawBtn">계정탈퇴</button>
        </div>

        <div id="withdrawModal" class="modal">
            <div class="withdraw-modal-content">
                <span class="close">&times;</span>
                <div class="withdraw-description">
                    <h2>정말로 탈퇴하시겠어요?</h2>
                    <p>{{nickname}}님과 함께해서 즐거웠어요.</p>
                    <p>탈퇴하시면 모든 계정 정보가 영구히 지워지게 됩니다.</p>
                    <p>탈퇴를 확인하기 위해 아래 란에 "계정탈퇴"라고 적은 후 계정탈퇴 버튼을 눌러주세요.</p>
                </div>
                <form id="withdrawForm">
                    <div>
                        <input type="text" id="withdrawConfirm" required>
                    </div>
                    <div>
                        <button type="submit" class="final-withdraw" id="finalWithdraw" onclick="withdraw()">계정탈퇴</button>
                        <button type="button" class="cancel-withdraw" id="cancelWithdraw">취소하기</button>
                    </div>
                </form>
            </div>
        </div>

    </main>
    <script>

        //팝업
        document.addEventListener('DOMContentLoaded', function() {
            var withdrawModal = document.getElementById("withdrawModal");
            var withdrawBtn = document.getElementById("withdrawBtn");
            var withdrawSpan = document.getElementsByClassName("close")[1];
            var cancelBtn = document.getElementById("cancelWithdraw");
            var finwtdrwBtn = document.getElementById("finalWithdraw");
            var infoModal = document.getElementById("infoModal");
            var infoBtn = document.getElementById("infoButton");
            var infoSpan = document.getElementsByClassName("close")[0];

            // 플로팅 버튼을 클릭하면 모달 창을 표시합니다.
            infoBtn.onclick = function() {
                infoModal.style.display = "block";
            }

            // 모달 창의 'X' 버튼을 클릭하면 모달을 닫습니다.
            infoSpan.onclick = function() {
                infoModal.style.display = "none";
            }
    
            withdrawBtn.onclick = function() {
                withdrawModal.style.display = "block";
            }
    
            withdrawSpan.onclick = function() {
                withdrawModal.style.display = "none";
            }
    
            cancelBtn.onclick = function() {
                withdrawModal.style.display = "none";
            }
    
            window.onclick = function(event) {
        if (event.target == withdrawModal) {
            withdrawModal.style.display = "none";
        }
        if (event.target == infoModal) {
            infoModal.style.display = "none";
        }
    }
        });

        function withdraw() {
    var confirmInput = document.getElementById('withdrawConfirm');
    if (confirmInput.value === '계정탈퇴') {
        fetch('/mypage/withdraw', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token() }}',
            },
            body: JSON.stringify({}),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('계정이 성공적으로 탈퇴되었습니다.');
                window.location.href = data.redirect_url;
            } else {
                alert('탈퇴 처리 중 오류가 발생했습니다: ' + data.message);
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('탈퇴 처리 중 오류가 발생했습니다.');
        });
    } else {
        alert('정확히 "계정탈퇴"라고 입력해주세요.');
    }
}

        document.getElementById('withdrawConfirm').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                withdraw();
            }
        });

</script>
</body>
</html>