<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>   
개인정보처리방침 및 이용약관</title>
    <style>
        body { font-family: sans-serif; line-height: 1.6; }
        h2 { color: #191919; }
    </style>
</head>
<body>

    <h2>이용약관</h2>
    <ul>
        <li>
            제 1 조 (목적)
            이 약관은 리드라이너 (이하 "사이트"라 함)에서 제공하는 모든 서비스(이하 "서비스"라 함)의 이용 조건 및 절차, 회원과 사이트의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다. 
        </li>
        <li>
            제 2 조 (정의)
            "회원"은 사이트에 개인정보를 제공하여 회원등록을 한 자로서, 사이트의 정보를 지속적으로 제공받으며 사이트가 제공하는 서비스를 계속적으로 이용할 수 있는 자를 의미합니다.
            "비밀번호"란 회원의 정보 보호를 위해 회원 자신이 설정한 문자와 숫자의 조합을 의미합니다.
        </li>
        <li>
            제 3 조 (회원 가입)
            회원이 되고자 하는 자는 사이트가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로써 회원가입을 신청합니다.
            사이트는 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.
            <ul>
                <li>
                    등록 내용에 허위, 기재누락, 오기가 있는 경우
                </li>
                <li>
                    기타 회원으로 등록하는 것이 사이트의 기술상 현저히 지장이 있다고 판단되는 경우
                </li>
                <li>
                    회원가입 계약의 성립 시기는 사이트의 승낙이 회원에게 도달한 시점으로 합니다.
                </li>
            </ul>
        </li>
        <li>
            제 4 조 (회원 탈퇴 및 자격 상실 등)
            회원은 사이트에 언제든지 탈퇴를 요청할 수 있으며, 사이트는 즉시 회원탈퇴를 처리합니다.
            회원이 다음 각 호의 사유에 해당하는 경우, 사이트는 회원자격을 제한 및 정지시킬 수 있습니다.
            <ul>
                <li>            
                    가입 신청 시에 허위 내용을 등록한 경우
                </li>
                <li>
                    다른 사람의 서비스 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우
                </li>
                <li>
                    사이트를 이용하여 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
                </li>
            </ul>

        </li>
        <li>
            제 5 조 (서비스의 중단)
            사이트는 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.
        </li>
        <li>
            제 6 조 (개인정보 보호)
            사이트는 회원의 개인정보 수집 시 서비스 제공을 위하여 필요한 범위에서 최소한의 개인정보를 수집합니다.
            사이트는 회원의 개인정보를 수집 및 이용하는 때에는 당해 회원에게 그 목적을 고지하고 동의를 받습니다.
            사이트는 수집된 개인정보를 목적 외의 용도로 이용할 수 없으며, 새로운 이용 목적이 발생한 경우 또는 제3자에게 제공하는 경우에는 이용·제공단계에서 당해 회원에게 그 목적을 고지하고 동의를 받습니다.
        </li>
        <li>
            제 7 조 (회원의 의무)
            회원은 다음 행위를 하여서는 안 됩니다.
            <ul>
                <li>
                    신청 또는 변경 시 허위 내용의 등록
                </li>
                <li>
                    타인의 정보 도용
                </li>
                <li>
                    사이트가 게시한 정보의 변경
                </li>
                <li>
                    사이트가 정한 정보 이외의 정보(컴퓨터 프로그램 등)의 송신 또는 게시
                </li>
                <li>
                    사이트 기타 제3자의 저작권 등 지적재산권에 대한 침해
                </li>
                <li>
                    사이트 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
                </li>
                <li>
                    외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 사이트에 공개 또는 게시하는 행위
                </li>
            </ul>
        </li>
        <li>
            제 8 조 (저작권의 귀속 및 이용제한)
            사이트가 작성한 저작물에 대한 저작권 기타 지적재산권은 사이트에 귀속합니다.
            회원은 사이트를 이용함으로써 얻은 정보를 사이트의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안 됩니다.
        </li>
        <li>
            이 약관은 2024년 08월 08일부터 시행됩니다.
        </li>
    </ul>

    <h2>개인정보처리방침</h2>
    <ul>
        <li>
            제1조 (개인정보의 처리 목적)
        
            회사는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않습니다.
            
            홈페이지 회원 가입 및 관리
            회원 가입 의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리.
        </li>
    </ul>

</body>
</html>