<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5Z4CN57J');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4CJFS0TXDQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4CJFS0TXDQ');
</script>
    <title> 리드라이너-회원가입</title>
    <link rel="stylesheet" href="../static/css/auth_style.css"> 
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css" rel="stylesheet">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5Z4CN57J"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
        <header>
            <img src="../static/assets/logo(black).png" alt="리드라이너 로고" class="logo">
        </header>
        <main>
            <div class="signup-form">
                <h2>회원가입</h2>
                <form method="post">
                    {{ form.csrf_token }}
                    {% include "form_errors.html" %}
                    <div class="input-group">
                        <label for="nickname">닉네임</label>
                        <input type="text" name="nickname" id="nickname" placeholder="닉네임을 입력해 주세요" required value="{{ form.nickname.data or '' }}">
                    </div>
                    <div class="input-group">
                        <label for="email">이메일</label>
                        <input type="email" name="email" id="email" placeholder="이메일 주소를 입력해 주세요" required value="{{ form.email.data or '' }}">
                    </div>
                    <div class="input-group">
                        <label for="password">비밀번호</label>
                        <input type="password" name="password" id="password" placeholder="비밀번호를 입력해 주세요" required value="{{ form.password.data or '' }}">
                    </div>
                    <div class="input-group">
                        <label for="confirm_password">비밀번호 확인</label>
                        <input type="password" name="confirm_password" id="confirm_password" placeholder="비밀번호를 다시 입력해 주세요" required value="{{ form.confirm_password.data or '' }}">
                    </div>
                    <p class="terms">아래 버튼을 눌러 계정을 만드시면 <br> <a href="{{url_for('auth.signup_policy')}}">개인정보 규정</a>을 포함한 약관에 동의하시는 것으로 간주됩니다.
                    </p>
                    <button type="submit">가입하기</button>
                </form>
            </div>
        </main>
    </div>
</body>
</html>